Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}">

        <small>ID #{{pokemon.id }}</small>
        <h1>{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>