<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <a href="https://netology-socket-io.herokuapp.com/">Сервер</a><br />
                <a href="https://github.com/webmaxru/chat-example/blob/master/index.js">Исходный код</a>

            </div>
        </div>

        <form name="pokemonForm" novalidate ng-submit="submit(new_message)">
            <div class="form-group">
                <label>Имя</label>
                <input class="form-control" ng-model="username" type="text" placeholder="Имя">
            </div>
            <div class="form-group">
                <label>Сообщение</label>
                <input class="form-control" ng-model="new_message" type="text" placeholder="Сообщение" autofocus required>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="pokemonForm.$invalid">Отправить</button>
        </form>

    </div>
    <div class="col-md-8">

        <div class="list-group">
            <div class="list-group-item" ng-repeat="message in messages track by $index">
                <h4 class="list-group-item-heading">
                    {{ message.username | uppercase }}
                </h4>
                <p class="list-group-item-text">
                    {{ message.content }}
                </p>

            </div>
        </div>

    </div>
</div>
